html,
body {
    margin: 0;
    padding: 0;
}

*{
    font-family:'Roboto',sans-serif;
    src: url('/textos/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/textos/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url('/textos/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src: url('/textos/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
}


@font-face {
    font-family: 'Roboto Condensed';
    src: url('/textos/Roboto-Condensed/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
}


h1 {
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}


h2 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
}


h3 {
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}


h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
}


h5 {
    font-size: 1.2em;
    line-height: 1em;
}

#nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

body{
background-color:rgb(25, 33, 45);

}

.header{
    background-image: url('https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg');
    backgroupposition: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}
header h2{
    color:white;
    text-shadow: #020819 8px -20px 9px;

}
.quote {
    font-size: 2.5em;
    font-style: italic;
}
.quote2 {
font-size: 2.5em;

}

.dark-background {
    
    color:white;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}


.link-btn {
    background-color: rgb(67, 163, 230);
    color: white;
    src: url('/textos/Roboto-Condensed/RobotoCondensed-Bold.ttf') format('truetype');
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}

.service-box  {
    font-size: 1.7em;
    text-align: center;
}

.service-box img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 125px; 
  }
  
  .section-text {
    font-size: 1.9em;
    text-align: center;
  }
  .member-name{
    font-size: 1,5em;
    font-weight: 700;
    }
        #equipo {
            color: white;
        }
    

    #equipo img {
        width: 250px;
        height: 180px;
        

    }
    .footer a {
       font-size: 1.9em;

    }

    .address {
        font-size: 0.8em;
        font-style: normal;

    }

    #footer a{
        color: rgb(67, 163, 230);
        text-decoration: none;
    }
